@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/pixeboy');

:root {
  --background-purple: rgba(223, 209, 255, 1);
  --heading-text: rgba(118, 121, 187, 1);
  --light-blue: rgba(194, 227, 255, 1);
  --mid-purple: rgba(176, 182, 228, 1);
  --navy-blue: rgba(90, 144, 231, 1);
  --outline-purple: rgba(153, 155, 217, 1);
  --very-light-blue: rgba(231, 244, 255, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  border: 4px solid;
  border-color: var(--navy-blue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-purple);
  height: 70px;
  width: 97.8%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

header button {
  pointer-events: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button img {
  width: 40px;
  height: 40px;
}

.temperature-controller {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 2;
  position: relative;
}

.temperature-controller img {
  width: 31px;
  height: 31px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/background.png");
  width: 400px;
  height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 70px 0 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-app-region: drag;
}

main img {
  width: 250px;
  height: 220px;
  margin-top: 20px;
}

.weather-data {
  color: var(--heading-text);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.75rem;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: 4px solid var(--heading-text);
  background: var(--white);
  width: 250px;
  height: 58px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bubble {
  background-image: url("../assets/bubble.png") ;
  display: flex;
  padding: 1.5625rem 1.6875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8.625rem;
  flex-shrink: 0;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 0;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--heading-text);
  margin-left: 10px;
}

h2 {
  font-family: "Pixeboy", sans-serif;
  font-size: 4.15rem;
  font-weight: 400;
  color: var(--outline-purple);
}

h3 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--outline-purple);
}

h4 {
  font-family: "Pixeboy", sans-serif;
  font-size: 1.36rem;
  font-weight: 400;
  color: var(--mid-purple);
}